<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.third.hw">
      </category>
      <view
            name="HW View"
            icon="icons/sample.gif"
            category="com.third.hw"
            class="com.third.hw.HWView"
            id="com.third.hw.HWView">
      </view>
   </extension>
   <!--extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension-->

</plugin>
